SCHWAB_API_KEY=cYVGMpfYMIKAqlTX6dyxlypBAa0ugdGYNAJedba2Qi0iG0XA
SCHWAB_APP_SECRET=G2KGHcQMNiR1qhaiAPn0XupebuoGJlGcU6W8iC9qRnnF6WEkt22HFVHTrdaq3cP1
SCHWAB_CALLBACK_URL=https://127.0.0.1:8182/
SCHWAB_TOKEN_PATH=token.json
SCHWAB_ACCOUNT_HASH=
SCHWAB_AUTH_MODE=token_file
TRADINGVIEW_WEBHOOK_SECRET=
DEFAULT_ORDER_QTY=1
DRY_RUN=true
